<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.therouter.App"
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.therouter.app.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.therouter.app.flowtask.FlowTaskTestActivity" />
        <activity android:name="com.therouter.app.flowtask.FlowTaskTestActivity2" />
        <activity android:name="com.therouter.app.navigator.NavigatorTestActivity" />
        <activity android:name="com.therouter.app.action.TestActionActivity" />
        <activity android:name="com.therouter.app.navigator.KotlinTestActivity" />
        <activity android:name="com.therouter.app.navigator.NavigatorTargetActivity" />
        <activity android:name="com.therouter.app.navigator.NavigatorTargetActivity2" />
        <activity android:name="com.therouter.app.navigator.ObjectTargetActivity" />
        <activity android:name="com.therouter.app.navigator.InterceptorActivity" />
        <activity android:name="com.therouter.app.router.PendingTestActivity" />
        <activity android:name="com.therouter.app.router.OtherFunctionActivity" />
        <activity android:name="com.therouter.app.router.HistoryLogActivity" />
    </application>

</manifest>